{% extends 'base.html.twig' %}

{% block title %}Accueil - TheGoodPlan{% endblock %}

{% block content %}
<main class="accueil">
    <h1>Trouvez votre stage facilement !</h1>
    <div class="barre-recherche">
        <input type="text" placeholder="Rechercher">
    </div>
    <section class="en-vedette">
        <h2>Offres en vedette</h2>
        <section class="offres">
            {% for offer in offers %}
                <a href="details-offre.php?id={{ offer.ID }}">
                    <div class="offre {% if loop.index % 3 == 1 %}rouge{% elseif loop.index % 3 == 2 %}jaune{% else %}vert{% endif %}">
                        <div class="offre-head-apercu">
                            <h4>{{ offer.TITLE }}</h4>
                            <div class="tags">
                                <span class="localisation fond-{% if loop.index % 3 == 1 %}rouge{% elseif loop.index % 3 == 2 %}jaune{% else %}vert{% endif %}">
                                    <img src="/static/locIcon.png" width="24px">{{ offer.CITY }}
                                </span>
                                <span class="duree fond-{% if loop.index % 3 == 1 %}rouge{% elseif loop.index % 3 == 2 %}jaune{% else %}vert{% endif %}">
                                    <img src="/static/timeIcon.png" width="24px">{{ offer.DURATION }}
                                </span>
                                <span class="exp fond-{% if loop.index % 3 == 1 %}rouge{% elseif loop.index % 3 == 2 %}jaune{% else %}vert{% endif %}">
                                    <img src="/static/educationIcon.png" width="24px">{{ offer.GRADE }}
                                </span>
                            </div>
                            <h5 class="inter-bold italic">{{ offer.ID_COMPANY }}</h5>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </section>
    </section>
</main>
{% endblock %}